body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(221, 209, 207);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr;
    height: 100%;
}
.header{
    display: flex;
    grid-row: 1 / 2;
    box-shadow: 0px 2px 2px black;
    background-color: #2BAE66FF;
}
.logo{
    flex: 1;
}
.logo img{
    height: 100%;
    width: 100%;
    border: none;
}
.form-container{
    flex: 6;
    display: flex;
    width: 100%;
}
form{
    display: flex;
    align-items: center;
    width: 100%;
}
.form-fields{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.form-fields :first-child{
    align-items: flex-end;
}
.row{
    flex: 1;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.row input{
    font-size: 26px;
    border-radius: 40px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid gray;
    height: fit-content;
    transition: border-radius 0.5s, box-shadow 0.3s;

}
.row input:focus{
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px black;
    
}
.row label{
    font-size: 22px;
    font-weight: bold;
}
.form-submit{
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.form-submit button{
    height: 20%;
    width: 50%;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
}
.form-submit button:active{
    transform: translateY(3px);
    box-shadow: 0px 3px 3px black;
    border: none;
}
.library{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit,425px);
    gap: 10px;
    background-color: rrgb(221, 209, 207);
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 130px;
}
.book{
    min-width: 250px;
    min-height: 325px;
    max-width: inherit;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    background-color: #2BAEA8;
    box-shadow: 2px 2px 4px rgb(64, 63, 63);
    border-radius: 10px;
    transition: 
        box-shadow 0.5s,
        ;
}
.book:hover{
    box-shadow: 0px 0px 9px rgb(58, 57, 57);
}
.book:hover .title{
    text-decoration: underline;
    font-size: 26px;

}
.title-author{
    flex:1;
    display: flex;
    flex-direction: column;
    border-bottom:1px solid black;
    box-shadow: 0px 1px 1px black;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    background-color: #2BAE66;
    box-sizing: border-box;
    width: 100%;
}
.title{
    font-weight: 500;
    font-size: 20px;
    transition:
        text-decoration 0.4s,
        font-size 0.4s;
}
.author{
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    color: rgb(73, 72, 72);
}
.author::before{
    content: "by ";
    font-style: normal;
    font-weight: normal;
}
.cover{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 5px;
}
.cover img{
    width: 95%;
    height: 95%;
    border: none;
}
.pages-read{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}