.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}
.header{
    display: flex;
    grid-row: 1 / 2;
}
.library{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}