.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}
.header{
    display: flex;
    grid-row: 1 / 2;
}
.library{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
.book{
    max-width: 225px;
    min-height: 225px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    border: 1px solid black;
}